#column1 {
	width:30%;
	float:left;
	border: 1px solid black;
	height: 100%;
	margin: 5px;
	padding: 5px;
}

#chat-box {
	margin : 5px;
	height: 400px;
	border : 1px solid blue;
	overflow-x: scroll;
	overflow-y: wrap;
}

#column2 {
	width: 30%;
	float: left;
	border: 1px solid red;
	height: 100%;
	margin: 5px;
	padding: 5px;
}

#node-box {
	margin : 5px;
	height: 400px;
	overflow-x: scroll;
	border : 1px solid blue;
}

#column3 {
	width: 30%;
	float: left;
	border: 1px solid green;
	height: 100%;
	margin: 5px;
	padding: 5px;
}

h3 { margin: 5px;}